[submodule "apps/AlexaSkill"]
	path = apps/AlexaSkill
	url = https://github.com/NickLiffen/AlexaSkill.git
[submodule "AlexaSkill"]
	path = AlexaSkill
	url = https://github.com/NickLiffen/AlexaSkill.git
